<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @* //"" el AuthorizeRouteView me dice que va a mostrar si estoy autorizado y que sino estoy autorizado  *@
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

            <Authorizing>
              <p> Autorizando... </p>
            </Authorizing>
        </AuthorizeRouteView>
     
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
